@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.contanier {
  max-width: 1110px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFangTC", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body h2 {
  font-size: 40px;
  line-height: 60px;
}

body h3 {
  font-size: 32px;
  line-height: 48px;
}

body h4 {
  font-size: 28px;
  line-height: 42px;
}

body h5 {
  font-size: 24px;
  line-height: 36px;
}

body h6 {
  font-size: 20px;
  line-height: 30px;
}

body p {
  font-size: 16px;
  line-height: 24px;
}

body img {
  display: block;
}

body .header {
  background: white;
  position: fixed;
  z-index: 100;
  width: 100%;
}

body .header .contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .contanier .logo a {
  background: no-repeat url(../img/d’Perfume.png);
  background-size: contain;
  height: 38px;
  width: 128px;
  display: block;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
}

body .header .contanier .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .contanier .menu li i {
  vertical-align: middle;
  margin-right: 3px;
}

body .header .contanier .menu li a {
  font-size: 20px;
  line-height: 30px;
  display: block;
  color: #8d8d8d;
  padding: 9px 0;
}

body .header .contanier .menu li ~ li {
  margin-left: 31px;
}

body .header .contanier .hamburgerMenu {
  display: none;
}

body .header .contanier .d-none {
  display: none;
}

body .header .contanier .show_hamburgerMenu {
  color: rgba(119, 97, 97, 0.5);
  background-color: transparent;
  display: none;
  font-size: 36px;
  min-width: 72px;
  text-align: center;
  padding: 0 10px;
}

body .reserved {
  height: 48px;
}

body .banner {
  background: no-repeat url("../img/banner.png") center/cover;
  height: 870px;
}

body .banner .contanier {
  position: relative;
}

body .banner .contanier .banner_content {
  position: absolute;
  top: 295px;
  right: 15px;
  color: #fff;
  max-width: 350px;
}

body .banner .contanier .banner_content h2 {
  font-weight: bold;
}

body .banner .contanier .banner_content h5 {
  padding-bottom: 16px;
}

body .banner .contanier .banner_content a {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 30px;
  display: block;
  font-size: 28px;
  color: #fff;
  text-align: center;
  padding: 14px 0;
}

body .banner .contanier .banner_content a:hover {
  background: #ffffff4d;
}

body .productdescription {
  padding: 60px 0;
}

body .productdescription .contanier ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .productdescription .contanier ul li .product_content {
  width: 50%;
  padding: 0 15px;
}

body .productdescription .contanier ul li .product_content h3 {
  font-weight: bold;
}

body .productdescription .contanier ul li .product_content h5 {
  font-weight: 600;
  padding-bottom: 4px;
}

body .productdescription .contanier ul li .product_content p {
  font-weight: 300;
  margin-bottom: 52px;
}

body .productdescription .contanier ul li .product_content a {
  color: #ac8a46;
  font-weight: 600;
}

body .productdescription .contanier ul li .product_content .PlanButton {
  width: 100%;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 30px;
  color: #000;
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 18px 0;
  margin-top: 8px;
}

body .productdescription .contanier ul li .product_content .PlanButton:hover {
  background: #0000000d;
}

body .productdescription .contanier ul li img {
  width: 50%;
}

body .productdescription .contanier ul li:nth-child(1),
body .productdescription .contanier ul li:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .productdescription .contanier ul li:nth-child(1) .product_content,
body .productdescription .contanier ul li:nth-child(3) .product_content {
  margin: 0 95px 0 80px;
}

body .productdescription .contanier ul li:nth-child(2) .product_content {
  margin: 0 80px 0 95px;
}

body .productdescription .contanier ul li:nth-child(4) {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body .productdescription .contanier ul li:nth-child(4) .product_content {
  margin: 0 80px 0 95px;
  padding: 92px 15px;
}

body .productdescription .contanier ul li:nth-child(4) .product_content ol {
  list-style-type: decimal;
}

body .productdescription .contanier ul li:nth-child(4) .product_content ol li {
  display: block;
}

body .productdescription .contanier ul li:nth-child(4) .product_content ol li h4 {
  font: normal normal 600 24px/36px SF Pro Text;
}

body .ProductCatalogue {
  background: #e0e0e0 0% 0% no-repeat padding-box;
  padding: 40px 0;
}

body .ProductCatalogue .contanier ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .ProductCatalogue .contanier ul li {
  width: 100%;
}

body .ProductCatalogue .contanier ul li .product-img1 {
  background: no-repeat url("../img/product-grey_1.png") center/cover;
  height: 540px;
  display: block;
}

body .ProductCatalogue .contanier ul li .product-img2 {
  background: no-repeat url("../img/product-grey_2.png") center/cover;
  height: 540px;
  display: block;
}

body .ProductCatalogue .contanier ul li .product-img3 {
  background: no-repeat url("../img/product-grey_3.png") center/cover;
  height: 540px;
  display: block;
}

body .ProductCatalogue .contanier ul li .product-img3 .Sold_out {
  background-color: rgba(0, 0, 0, 0.3);
  height: 540px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

body .ProductCatalogue .contanier ul li .ProductCatalogue_content {
  width: 100%;
}

body .ProductCatalogue .contanier ul li .ProductCatalogue_content h5 {
  font-weight: 600;
  padding-top: 8px;
}

body .ProductCatalogue .contanier ul li .ProductCatalogue_content p {
  font-weight: 300;
}

body .ProductCatalogue .contanier ul li .ProductCatalogue_content p del {
  color: #8d8d8d;
  padding-left: 8px;
}

body .ProductCatalogue .contanier ul li .ProductCatalogue_content p ~ p {
  padding-top: 16px;
}

body .ProductCatalogue .contanier ul li:nth-child(1) {
  margin-right: 15px;
}

body .ProductCatalogue .contanier ul li:nth-child(2) {
  margin: 0 15px;
}

body .ProductCatalogue .contanier ul li:nth-child(3) {
  margin-left: 15px;
}

body .recycling {
  padding: 60px 0;
}

body .recycling .contanier ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .recycling .contanier ul li img {
  height: 520px;
}

body .recycling .contanier ul li .recycling_content h3 {
  font-weight: bold;
}

body .recycling .contanier ul li .recycling_content h6 {
  font-weight: 300;
  padding-bottom: 16px;
}

body .recycling .contanier ul li .recycling_content a {
  color: #ac8a46;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

body .recycling .contanier ul li:nth-child(1) {
  width: 70%;
}

body .recycling .contanier ul li:nth-child(2) {
  width: 32.3%;
}

body .subscription {
  background: no-repeat url("../img/subscribe.png") center/cover;
  height: 600px;
}

body .subscription .contanier ul {
  max-width: 350px;
  padding-top: 312px;
}

body .subscription .contanier ul li {
  font-weight: 600;
}

body .subscription .contanier ul li h3 {
  color: #8d8d8d;
  padding-bottom: 20px;
}

body .subscription .contanier ul li form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .subscription .contanier ul li form input[type="email"] {
  font-size: 16px;
  line-height: 24px;
  color: #8d8d8d;
  padding: 18px 2px 18px 16px;
  border: 2px solid #916000;
  border-radius: 4px 0 0 4px;
}

body .subscription .contanier ul li form input[type="email"]:focus,
body .subscription .contanier ul li form button:focus {
  outline: none;
}

body .subscription .contanier ul li form button {
  background: #916000 0% 0% no-repeat padding-box;
  border: 2px solid #916000;
  border-radius: 0px 4px 4px 0px;
}

body .subscription .contanier ul li form button a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 17px 26px 17px 27px;
}

body .subscription .contanier ul li form button:hover {
  background: #6c4700 0% 0% no-repeat padding-box;
  border: 2px solid #6c4700;
}

body .footer {
  background-color: #916000;
}

body .footer .contanier .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 22px 0;
}

body .footer .contanier .footer_content .trademark {
  width: 346px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .contanier .footer_content .trademark .footer_logo {
  background: no-repeat url("../img/d’Perfumew.png") center/cover;
  width: 128px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .footer .contanier .footer_content .trademark .footer_logo a {
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
}

body .footer .contanier .footer_content .trademark small {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

body .footer .contanier .footer_content ul {
  width: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .contanier .footer_content ul li a {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

body .footer .contanier .footer_content ul li ~ li {
  padding-left: 42px;
}

@media (max-width: 767px) {
  body .header .contanier .menu {
    display: none;
  }
  body .header .contanier .hamburgerMenu {
    background: #707070 0% 0% no-repeat padding-box;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 56px;
    left: 0;
    right: 0;
    max-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    min-width: 0;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  body .header .contanier .hamburgerMenu li {
    float: none;
    border-top: 1px solid #fff;
  }
  body .header .contanier .hamburgerMenu li a {
    color: #fff;
    display: block;
    font: normal normal normal 20px/23px SF Pro Text;
    padding: 16px 0;
  }
  body .header .contanier .hamburgerMenu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #916000;
  }
  body .header .contanier .d-none {
    display: block;
    position: relative;
  }
  body .header .contanier .d-none i {
    color: #8d8d8d;
    font-size: 20px;
  }
  body .header .contanier .d-none span {
    display: block;
    position: absolute;
    top: -7px;
    left: 14px;
    background: #916000 0% 0% no-repeat padding-box;
    border-radius: 7px;
    color: #fff;
    font-size: 12px;
    padding: 1px 5px 1px 5px;
  }
  body .header .contanier .show_hamburgerMenu {
    display: block;
  }
  body .header .contanier .hamburgerMenu-show {
    max-height: 336px;
  }
  body .banner {
    background: no-repeat url("../img/banner-md.png") center/cover;
    height: 480px;
    width: 100%;
    padding: 101px 15px 0 15px;
  }
  body .banner .contanier .banner_content {
    right: 15px;
    top: 0;
    max-width: 345px;
  }
  body .banner .contanier .banner_content h2 {
    font: normal normal bold 32px/48px SF Pro Text;
  }
  body .banner .contanier .banner_content h5 {
    font: normal normal normal 20px/30px SF Pro Text;
  }
  body .banner .contanier .banner_content a {
    background: #ffffff00 0% 0% no-repeat padding-box;
    width: 100%;
    font: normal normal medium 28px/42px SF Pro Text;
  }
  body .productdescription {
    padding: 40px 0;
  }
  body .productdescription .contanier {
    max-width: 375px;
    padding: 0 15px;
  }
  body .productdescription .contanier ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .productdescription .contanier ul li .product_content {
    width: 100%;
  }
  body .productdescription .contanier ul li .product_content h3 {
    padding-top: 8px;
  }
  body .productdescription .contanier ul li .product_content p {
    padding-bottom: 8px;
  }
  body .productdescription .contanier ul li .product_content a {
    display: block;
    padding-bottom: 32px;
  }
  body .productdescription .contanier ul li img {
    width: 100%;
  }
  body .productdescription .contanier ul li:nth-child(1) .product_content,
  body .productdescription .contanier ul li:nth-child(2) .product_content,
  body .productdescription .contanier ul li:nth-child(3) .product_content,
  body .productdescription .contanier ul li:nth-child(4) .product_content {
    margin: 0;
  }
  body .productdescription .contanier ul li:nth-child(4) .product_content {
    padding-top: 8px;
    padding-bottom: 0px;
  }
  body .productdescription .contanier ul li:nth-child(4) .product_content p {
    margin-bottom: 20px;
  }
  body .productdescription .contanier ul li:nth-child(4) .product_content button {
    margin-top: 0;
  }
  body .ProductCatalogue {
    padding: 32px 0 36px 0;
  }
  body .ProductCatalogue .contanier {
    max-width: 345px;
  }
  body .ProductCatalogue .contanier ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .ProductCatalogue .contanier ul li .product-img1 {
    background: no-repeat url("../img/product-grey-md_1.png") center/contain;
    height: 350px;
  }
  body .ProductCatalogue .contanier ul li .product-img2 {
    background: no-repeat url("../img/product-grey-md_2.png") center/contain;
    height: 350px;
  }
  body .ProductCatalogue .contanier ul li .product-img3 {
    background: no-repeat url("../img/product-grey-md_3.png") center/contain;
    height: 350px;
  }
  body .ProductCatalogue .contanier ul li .product-img3 .Sold_out {
    height: 350px;
  }
  body .ProductCatalogue .contanier ul li .ProductCatalogue_content p ~ p {
    padding-top: 4px;
  }
  body .ProductCatalogue .contanier ul li:nth-child(1) {
    margin-left: 15px;
    margin-bottom: 32px;
  }
  body .ProductCatalogue .contanier ul li:nth-child(3) {
    margin-right: 15px;
    margin-top: 24px;
  }
  body .recycling {
    padding: 40px 0;
  }
  body .recycling .contanier ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .recycling .contanier ul li .recycling_content h3 {
    padding-top: 8px;
  }
  body .recycling .contanier ul li .recycling_content h6 {
    padding-bottom: 8px;
  }
  body .recycling .contanier ul li:nth-child(1),
  body .recycling .contanier ul li:nth-child(2) {
    width: 100%;
    padding: 0 15px;
  }
  body .subscription {
    background: no-repeat url("../img/subscribe-md.png") center/cover;
  }
  body .subscription .contanier {
    padding: 0 15px;
  }
  body .footer .contanier .footer_content {
    padding: 21px 14px 21px 15px;
  }
  body .footer .contanier .footer_content ul {
    display: none;
  }
}

.nav {
  background: #916000 0% 0% no-repeat padding-box;
}

.nav .contanier ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .contanier ul li a {
  display: block;
  color: #FFFFFF;
  font: normal normal normal 20px/30px SF Pro Text;
  padding: 14px 0;
}

.nav .contanier ul li ~ li {
  margin-left: 28px;
}

.product {
  margin-top: 80px;
}

.product .contanier .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.product .contanier .card-list .card-item {
  width: 25%;
  padding: 0 15px;
}

.product .contanier .card-list .card-item .card-img a {
  display: block;
}

.product .contanier .card-list .card-item .card-body h5 a {
  display: block;
  font-weight: 600;
  color: #000000;
}

.product .contanier .card-list .card-item .card-body p {
  font-weight: 300;
}

.product .contanier .card-list .card-item .card-body p del {
  color: #8D8D8D;
  padding-left: 8px;
}

.product .contanier .card-list .card-item .card-body .iconButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3px;
}

.product .contanier .card-list .card-item .card-body .iconButton a {
  display: block;
  color: #916019;
}

.product .contanier .card-list .card-item .card-body .iconButton a i {
  font-size: 20px;
}

.product .contanier .card-list .card-item .card-body .iconButton a i span {
  padding-left: 11px;
}

.product .contanier .card-list li:nth-child(1), .product .contanier .card-list li:nth-child(2), .product .contanier .card-list li:nth-child(3), .product .contanier .card-list li:nth-child(4), .product .contanier .card-list li:nth-child(5), .product .contanier .card-list li:nth-child(6), .product .contanier .card-list li:nth-child(7), .product .contanier .card-list li:nth-child(8) {
  padding-bottom: 58px;
}

.productList {
  margin-top: 78px;
  margin-bottom: 60px;
}

.productList .contanier ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productList .contanier ul li {
  padding: 0 10px;
}

.productList .contanier ul li a {
  display: block;
  font: normal normal normal 20px/30px SF Pro Text;
  color: #000;
}

.productList .contanier ul li .selected {
  color: #AC8A46;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .nav .contanier ul {
    display: none;
  }
  .product .contanier .card-list {
    margin: 0 7.5px;
  }
  .product .contanier .card-list .card-item {
    width: 50%;
    padding: 0 7.5px;
  }
  .product .contanier .card-list li:nth-child(9), .product .contanier .card-list li:nth-child(10) {
    padding-bottom: 58px;
  }
  .productList {
    margin-top: 46px;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=all.css.map */